streamlit==1.44.0
numpy==1.26.4
pandas==2.2.3
sentence-transformers==4.0.1
scikit-learn==1.6.1
google-generativeai==0.8.4
crewai==0.100.1
tf-keras==2.19.0
tensorflow==2.19.0
spacy==3.8.3
chromadb==0.6.3
db-sqlite3==0.0.1
sqlite3==3.35.0
